extends layout

block content
  div(id='container' style="max-width: 1200px; height: 400px;")
  form(id="stock-form" action="/stock")
    label(for="stock") Stock's symbol
    input(id="stock-input" name="stock" type="text" required)
    button(type="submit") Add