body {
  padding: 10px 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 1200px;
  margin: 0;
  padding: 10px 0px;
}

button:hover {
  color: #000000;
  cursor: pointer;
  transition: color 0.2s ease;
}

button {
  color: #ffffff;
  transition: color 0.2s ease;
}

.form-label {
  display: block;
  text-align: center;
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 100;
}

#stock-form {
  display: block;
  background: #f3f3f3;
  padding: 15px 0;
  margin-bottom: 5px;
}

#stock-input {
  display: block;
  margin: 0 auto;
  padding: 6px 4px;
  border: 1px solid black;
  width: 240px;
  min-width: 160px;
}

.card {
  background: #f3f3f3;
  margin-bottom: 5px;
  padding: 20px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin: 0;
  margin-top: -10px;
  padding-bottom: 10px;
}

.button {
  color: #ffffff;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  width: 160px;
  padding: 6px 0;
  border: 1px solid black;
}

.button__remove {
  background: #880c0c;
}

.button__add {
  background: #1a8f03;
  border-top: none;
  width: 250px;
}

footer > p {
  display: block;
  text-align: center;
}

@media screen and (min-width: 800px) {
  body {
    padding: 20px 50px;
  }
  #container {
    margin: 0 auto;
  }
  .wrapper {
    margin: 0 auto;
  }
  #stock-form {
    border-radius: 10px;
    padding: 20px;
  }
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -20px;
    margin-left: -20px;
  }
  .card {
    margin-top: 25px;
    flex: 1 1 auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
  }
  footer {
    margin-top: 40px;
    padding: 15px 0;
  }
}

/* CSS for basic modal from w3schools  */
/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.info {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
